.container {
  margin: auto;
  background-color: #f4e7fb;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
}
.search-form {
  margin-top: 0em;
  background-color: #fff;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  font-family: monospace;
  border-radius: 10px;
}

.search-button {
  margin-top: 0em;
  background-color: #f5bcba;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  font-family: monospace;
  border-radius: 10px;
  border: dotted #c3c7f3;
}
.search-button:hover {
  background-color: #e3aadd;
  transition-delay: 200ms;
}
.search-engine {
  margin: 0;
  display: inline;
  box-shadow: #c3c7f3;
}

.temperature {
  /*position: fixed;
  right: 600px;
  top: 60px;*/
  float: left;
}
.emoji {
  /* font-size: 50pt;
  position: fixed;
  right: 600px;
  top: 10px;
  color: #fff;*/
  float: left;
}

.footer {
  text-align: center;
  font-weight: bolder;
  color: #f3dcdc;
}
.date,
.sky-coverage,
.weather-description,
.wind {
  font-weight: bolder;
}
.weather-description-value,
.wind-speed {
  color: #dfaddf;
}
.weather-forecast-date {
  text-align: center;
  color: #a36361;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #a36361;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  padding: 0 10px;
}


.weather-forecast{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}